@model DetailsEmployeeViewModel

@{
    ViewData["Title"] = "Szczegóły pracownika";
}

<h3>@ViewData["cos"]</h3>
<h3>@ViewBag.cos</h3>

<partial name="_EmployeeDetailsPartial" model="@Model"/>

<h1 class="mt-4">Szef</h1>

<partial name="_EmployeeDetailsPartial" model="@Model.ReportsTo"/>
